<!DOCTYPE html>
<html lang="en-FR">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>IDUChat</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <body>
  
    <%- include('partials/header') %>


    <div class="mess_box">
      <div>
          <label for="mess">Votre message :</label>
          <input id="mess">
      </div>
      <div class="mess_button">
          <button id="buttonMessage" onclick="" type="button">Envoyer</button>
      </div>
    </div>

    <div id ="messages">
    
    </div>
      
  
    <%- include('partials/footer') %>  

  </body>
</html>

<script>

const socket = new WebSocket("ws://localhost:4420");
const buttonMessage = document.getElementById("buttonMessage");
const messagesDiv = document.getElementById("messages")

socket.onopen = function(event) {

  buttonMessage.addEventListener('click', async function(event) {

    const messageInput = document.getElementById("mess").value;

    let text = '{ "pseudo" : "' + pseudo +
    '","message" : "'  + messageInput + '"}';

      socket.send(text);
      console.log(text)
    });
};

socket.onmessage = (event) => {
  const data = JSON.parse(event.data);
  console.log(data);

  let messagesArray = []

  for (const i in data){

    let pseudoMessage = data[i]['pseudo']
    let receivedMessage = data[i]['message']
    let dateMessage = data[i]['createdAt']

    messagesArray.push("<p>" + pseudoMessage + " : " + receivedMessage + " le " + dateMessage + "</p><br/>")
  }

  let messages = "";

  for (var i = messagesArray.length - 1; i >= 0; i--) {
    messages += messagesArray[i]
  }

  messagesDiv.innerHTML = messages;
};


socket.onclose = function(event) {
  console.log("Connection closed with code: " + event.code);
};

</script>
