<!DOCTYPE html>
<html lang="en-FR">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>IDUChat</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <body>
  
    <%- include('partials/header') %>




    <div class="form_box">
      <h2>Connexion</h2>
      <div>
          <label for="pseudo">Pseudo</label>
          <br />
          <input id="pseudo">
          <br />
          <label for="pass">Mot de passe</label>
          <br />
          <input type="password" id="pass">
      </div>
      <br />
      <div class="connexion_button">
          <button onclick="connect()" type="button">Se connecter</button>
      </div>
    </div>
      
    <center><p>Vous êtes nouveau ? : <a href="http://localhost:3000/inscription">Inscription</a></p></center>
    <%- include('partials/footer') %>  

  </body>
</html>

<script>
  function connect() {
    // On récupère les données de l'utilisateur à créer
    var pseudo = document.getElementById("pseudo").value;
    var pass = document.getElementById("pass").value;

    axios.post("http://localhost:3000/api/connect", { pseudo: pseudo, pass: pass}).then(function (response) {
        

        if (response.data === "ok") {
            window.location.replace('http://localhost:3000/chat');
        }
        else {
            alert(response.data);
        }
    }).catch((err) => console.log(err));
}
</script>