<!DOCTYPE html>
<html lang="en-FR">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>IDUChat</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <body>
    <%- include('partials/header') %>

    <div class="form_box">
      <h2>Inscription</h2>
      <div>
          <label for="pseudo">Pseudo</label>
          <br />
          <input id="pseudo">
          <br />
          <label for="pass">Mot de passe</label>
          <br />
          <input type="password" id="pass">
      </div>
      <br />
      <div class="inscription_button">
          <button onclick="createUser()" type="button">S'inscrire</button>
      </div>
    </div>

    <%- include('partials/footer') %>
    
  </body>
</html>

<script>
      function createUser() {
        // On récupère les données de l'utilisateur à créer
        var pseudo = document.getElementById("pseudo").value;
        var pass = document.getElementById("pass").value;

        axios.post("http://localhost:3000/api/user", { pseudo: pseudo, pass: pass}).then(function (response) {
            

            if (response.data === "Votre compte a été créé !") {
                window.location.replace('http://localhost:3000/');
            }
            else {
                alert(response.data);
            }
        }).catch((err) => console.log(err));
    }
</script>